{% extends "layout.html.twig" %}

{% block body %}
    <!-- Add Post Section-->
    <section class="masthead page-section" id="register">
        <div class="container">
            <!-- Add Post Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Editer un article</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Add Post Section Form-->
            {% if success %}
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <i class="fa-solid fa-check me-2"></i>{{ success }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if failure %}
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <i class="fa-solid fa-ban me-2"></i>{{ failure }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * Add Post Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <form id="addPostForm" method="post" action="?action=savepost">
                        <!-- Title input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="id" name="id" type="hidden" placeholder="Mon id" value="{{ post.id }}" required />
                            <label for="title">Titre</label>
                        </div>
                        <!-- Title input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Mon article" value="{{ post.title }}" required />
                            <label for="title">Titre</label>
                        </div>
                        <!-- Chapo input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="chapo" name="chapo" type="text" placeholder="Mon chapô" value="{{ post.chapo }}"  />
                            <label for="chapo">Chapô</label>
                        </div>
                        <!-- Content input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="content" name="content" type="text" placeholder="Contenu de mon article" style="height: 20rem" required>{{ post.content }}</textarea>
                            <label for="content">Contenu</label>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Mettre à jour</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
